.App {
  text-align: center;
}

#nav {
  display: flex;
  flex-direction: row;
}

.navitem {
  flex: 1 0 0;
  text-align: center;
  border-style: solid;
}

#whobtn {
  background-color: pink;
}

#blamebtn {
  background-color: azure;
}

#youbtn {
  background-color: wheat;
}

#aboutbtn {
  background-color: whitesmoke;
}